.Act-BoxWrappe {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 620px;
    height: 182px; /* 높이를 조정하여 편집하는 칸의 크기를 줄입니다. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* 요소들이 한 줄에 모두 표시되지 않고 여러 줄로 나뉘도록 설정 */
    top: 11.7px;
    left: -35px;
}

.Act-box-titleAndEdit {
    display: flex;
    flex: 1;
}

.ActivityTitle {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
}

.Act-Tag {
    font-weight: bold;
    margin-right: 150px;
    /* 수정된 속성 */
    position: row; /* 절대 위치에서 상대 위치로 변경 */
    margin-top: 30%;
}

.Act-TagContainer {
    display: flex;
    align-items: center;
    margin-right: 50px; /* 태그 간 간격을 조절합니다. */
    flex-direction: row;
}

.Act-CreditWrapper {
    flex-direction: row;
    margin-bottom: -13%;
}

.Act-Progress {
    color: blue; /* 또는 red */
}



  