.Cor-BoxWrapping {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 1173px;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Cor-title {
  font-size: 20px;
  margin-top: -5px;
}

.Cor-LineWrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

.Cor-Line {
  width: 980%;
  height: 1px;
  background-color: #000;
  margin: 35px 20px;
  position: relative;
}

.Cor-RowText {
  position: absolute;
  top: 15px;
  left: 20px;
  transform: translateY(-50%);
}
  