.Cor-BoxWrapping {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 1173px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column; /* 플렉스 방향을 열로 설정 */
  justify-content: center; /* 내용물을 중앙에 정렬 */
  align-items: center; /* 내용물을 중앙에 정렬 */
}

.Cor-title {
  font-size: 20px;
  margin-top: -5px;
}

.Course-list-table {
  width: 100%;
  border-collapse: collapse; /* 테이블 경계선 겹침 */
}

.Course-list-table th,
.Course-list-table td {
  border: 1px solid #ddd; /* 테이블 셀 경계선 */
  padding: 12px; /* 셀 패딩 */
  text-align: center; /* 셀 텍스트 중앙 정렬 */
}

.Cor-LineWrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

.Cor-Line {
  width: 980%;
  height: 1px;
  background-color: #000;
  margin: 35px 20px;
  position: relative;
}

.Cor-RowText {
  position: absolute;
  top: 15px;
  left: 20px;
  transform: translateY(-50%);
}
 
.Course-list-header {
  background-color: #f5f5f5aa; /* 헤더 배경색 */
  font-weight: bold; /* 텍스트 굵게 */
  padding: 10px; /* 패딩 */
  border-bottom: 2px solid #ddd; /* 아래쪽 경계선 */
  text-align: center; /* 텍스트 중앙 정렬 */
}