.honey-main-container{
    margin-top: 100px;
}
.honey-exp{
    color: grey;
}
.honey-category{
    display: flex;
    border-bottom: solid 1px black;
}
.honey-category-text{
    margin-left: 5px;
    margin-right: 10px;
}

.honey-list{
    border: solid 2px white;
    height: 400px;
    overflow-y:auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.h-list{
    border: solid 2px white;
    width: 1500px;
    border-spacing: 0px;
    border-collapse: separate;
}

.h-list-thead{
    background-color:dimgray;
    color: white;
    height: 35px;
}

.h-item{
    border: solid 1px white;
}

.h-list tbody tr:nth-child(even) {
    background-color:whitesmoke; /* 짝수 행에 배경색 적용 */
}