.recommendation-popup{
    display: block;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    width: 80%;
    height: 70%;
  }
  
  .recommendation-popup.hidden {
    display: none;
  }
  
  .popup-close-btn{
    margin-top: 0;
    margin-left: 98%;
    background-color: white;
    color: dimgray;
    font-size:xx-large;
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
  }
  .popup-close-btn:hover{
    background-color: white;
    color:silver;
  }

  .popup-content{
    display: flex;
    width: 100%;
    margin-left: 15%;
  }
  .popup-graph{
    width: 20%;
  }

  .popup-info{
    width: 40%;
    margin-left: 20%;
    text-align: start;
    font-weight: bold;
  }