/* SidebarStyles.css */

.SidebarWrapper {
  background-color: #f0f0f0;
  width: 250px;
  height: 130%;
  padding: 20px;
}

.SidebarHeader {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 70px; 
}

.ProfileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 70px;
  position: relative; 
  top: 73px;
}

.UserInfo > div:not(:first-child) {
  margin-top: 20px; 
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px; 
}

.UserInfo > div:first-child {
  margin-top: 20px; /* 이름 요소 위쪽의 여백 조정 */
  text-align: center;
  font-size: 14px;
}

/* 모달 스타일 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: column;
  z-index: 1000;
  padding-top: 20px; /* 모달 내용을 아래로 내리는 패딩 추가 */
}

/* 모달 내용 스타일 */
.ModalContent {
  background-color: white; /* 배경색 흰색 */
  padding: 90px; /* 패딩 조정 */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  transform: translate(50%, 50%); /* 위치 조정 */
  max-width: 70%; /* 최대 너비 조정 */
  max-height: 60%; /* 최대 높이 조정 */
  overflow: auto;
  display: flex; /* 요소들을 가로로 정렬 */
  flex-direction: column; /* 세로로 정렬 */
}

label {
  display: inline-block; /* 인라인 블록 요소로 설정 */
  width: 80px; /* 라벨의 너비 설정 */
  margin-bottom: 10px;
}

/* 모달 헤더 텍스트 스타일 */
.ModalHeaderText {
  position: absolute; /* 절대 위치 지정 */
  top: 40px; /* 위쪽 여백 */
  left: 30px; /* 왼쪽 여백 */
  font-size: 30px; /* 폰트 크기 조정 */
  font-weight: bold; /* 폰트 굵게 설정 */
  color: #333; /* 텍스트 색상 */
}

/* 닫기 버튼 스타일 */
.CloseModalButton {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 50px; /* 폰트 크기를 크게 설정합니다. */
  padding: 10px; /* 패딩을 추가하여 버튼의 크기를 늘립니다. */
}

/* 수정된 입력 필드 래핑 스타일 */
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* 입력 필드 라벨 스타일 */
.label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 100px; /* 라벨 아래에 간격을 줍니다. */
}

/* 입력 필드 스타일 */
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px; /* 입력 필드 사이에 간격을 줍니다. */
}

/* 저장 버튼 스타일 */
button {
  padding: 10px 20px;
  color: white; /* 흰색 글자색 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변경 효과 */
}

.sidebar-button {
  padding: 8px 8px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  justify-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px; /* Added margin to match the profile text */
  margin-left: 1px; /* Adjusted margin to move the button slightly to the left */
}

.SidebarIcon {
  margin-right: 10px;
}

.SidebarMenu {
  list-style: none;
  padding: 0;
  margin-bottom: 30px; 
}

.SidebarMenuItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 24px;
}

.ExternalLink {
  margin-top: 240%;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}