.signup-dropdown{
    width: 100%;
    padding-left: 0;
}

.signup-dropdown-toggle {
    padding: 12px;
    padding-left: 0;
    margin: 10px 0;
    width: 100%;
    background-color: #eaeaea;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 아이콘과 인풋창을 왼쪽과 오른쪽으로 정렬 */
  }
  .signup-dropdown-toggle:hover {
    background-color: inherit; /* 마우스를 올렸을 때 배경색을 상속받음 */
    color: inherit; /* 마우스를 올렸을 때 글자색을 상속받음 */
  }
  .signup-dropdown-toggle.active {
    background-color: inherit; /* 클릭한 후 배경색을 상속받음 */
    color: inherit; /* 클릭한 후 글자색을 상속받음 */
  }
  .signup-dropdown-toggle.selected {
    background-color: inherit; /* 선택된 후 배경색을 상속받음 */
    color: inherit; /* 선택된 후 글자색을 상속받음 */
  }
  
  .signup-dropdown-toggle img {
    margin-right: 10px;
    width: 20px; /* 이미지 너비 조정 */
  }
  
  .signup-dropdown-toggle input {
    flex: 1; /* 인풋창이 남은 공간을 모두 채우도록 함 */
    border: none;
    background: transparent;
    outline: none;
    color: #000000;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  .signup-dropdown-menu {
    position:absolute; /* 상대 위치로 변경 */
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 90%; /* 왼쪽과 오른쪽 여백 제외 */
    margin-top: 8px; /* 상단 여백 */
    z-index: 1; /* 다른 요소 위에 나타나도록 설정 */
    max-height: 200px; /* 최대 높이 지정 */
    overflow-y: auto; /* 수직 스크롤 생성 */
  }
  
  .empty{
    width: 90%;
  }
  
  .signup-dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .signup-dropdown-item:hover {
    background-color: #ddd;
  }
  