.SignupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 260px;
  width: 400px;
  height: 700px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding-bottom: 30px;
}

.SingnupTextHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 10px;
}

.SingupText {
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}

.s_InputContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon {
  width: 18px;
  height: 18px;
}

.s_input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 50px;
  background: #eaeaea;
  border-radius: 8px;
}

/*입력창 앞에 아이콘 설정*/
.s_input img {
  margin: 0px 25px;
}

.s_input input {
  height: 30px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.s_message {
  color: red; /* 빨간색 텍스트 */
  font-weight: normal;
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: -1px;
  text-align: left;
  margin-left: 30px;
  font-family: "Noto Sans KR", sans-serif;
}

.s_submit-container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: 15px auto;
}

.s_submit {
  width: 100%; /* 버튼을 컨테이너 너비에 맞게 조절 */
  margin: 0; /* 외부 마진 제거 */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 350px;
  height: 50px;
  color: #fff;
  background: #000000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.s_submit:hover {
  color: #fff;
  background: #9c9c9c;
}

.line {
  margin-top: -10px;
  border-top: 1px solid #d0d0d0;
}

.Agreement {
  width: 350px; /* 부모 컨테이너의 너비에 맞추기 */
  margin: auto; /* 중앙 정렬 */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.agree1 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
}

.agree2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
}

.showMore2 {
  margin-left: auto;
  font-size: 12px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: underline;
}

.agree3-box {
  margin-top: -12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agree3 {
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
}

.showMore3 {
  margin-left: auto;
  font-size: 12px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: underline;
}
